# Android build folders
/MobileApp/app/build
/MobileApp/app/generated
/MobileApp/app/intermediates
/MobileApp/app/outputs
/MobileApp/app/tmp
/MobileApp/app/reports
/MobileApp/app/kotlin
/MobileApp/app/kotlinToolingMetadata

# IDE files
/.idea
*.iml

# OS files
.DS_Store
Thumbs.db

# Large archives & binaries
*.zip
*.rar
*.7z
*.bin
*.hex

# Android build outputs
**/build/
